In [1]:
import numpy as np 
import pandas as pd
from pydataset import data
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression, RFE
import evaluate

In [2]:
#load in tips
tips = data('tips')

In [3]:
tips[:5]

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips['tip_percentage'] = ((tips['tip']/tips['total_bill']) * 100)
tips['price_per_person'] = round((tips['total_bill'] / tips['size']),2)

In [5]:
tips[:5]

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,5.944673,8.49
2,10.34,1.66,Male,No,Sun,Dinner,3,16.054159,3.45
3,21.01,3.50,Male,No,Sun,Dinner,3,16.658734,7.00
4,23.68,3.31,Male,No,Sun,Dinner,2,13.978041,11.84
5,24.59,3.61,Female,No,Sun,Dinner,4,14.680765,6.15

In [6]:
#tip percentage and total bill have direct links to the tip. i say those will be my best drivers

In [7]:
#using kbest
f_selector = SelectKBest(f_regression, k =2)

In [8]:
f_selector.fit(tips.drop(columns=['tip','sex','smoker','day','time']),tips['tip'])

SelectKBest(k=2, score_func=<function f_regression at 0x7fcbe31950d0>)

In [9]:
f_selector.get_support()

array([ True,  True, False, False])

In [10]:
f_feature = tips.drop(columns=['tip','sex','smoker','day','time']).loc[:,f_selector.get_support()].columns.tolist()

In [11]:
f_feature

['total_bill', 'size']

In [12]:
#using rfe

In [13]:
lm = LinearRegression()

In [14]:
rfe = RFE(lm, 2)

/opt/homebrew/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:67: FutureWarning: Pass n_features_to_select=2 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [15]:
X_rfe = rfe.fit_transform(tips.drop(columns=['tip','sex','smoker','day','time']), tips['tip'])

In [16]:
lm.fit(X_rfe, tips['tip'])

LinearRegression()

In [17]:
mask = rfe.support_

In [18]:
rfe_feautures = tips.drop(columns=['tip','sex','smoker','day','time']).loc[:,mask].columns

In [19]:
rfe_feautures

Index(['total_bill', 'tip_percentage'], dtype='object')

In [20]:
swiss = data('swiss')

In [21]:
kbest_top2 = evaluate.select_kbest(swiss.drop(columns='Fertility'), swiss['Fertility'], top=2)

In [22]:
kbest_top2

['Examination', 'Education']

In [23]:
rfe_top2= evaluate.select_rfe(swiss.drop(columns='Fertility'), swiss['Fertility'], 3)

/opt/homebrew/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:67: FutureWarning: Pass n_features_to_select=3 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "